body {
    background: linear-gradient(-45deg, #e98668, #df89a8, #68aec8, #64cb88);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    margin: 0;
    padding: 35px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}

.header {
    margin-bottom: 30px;
    background-color: #ffd5e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo img {
    width: 120;
    height: 120;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 40px;
}

.Facts-form {
    background: #5bc3f8;
    border-radius: .5rem;
    margin-bottom: 30px;
    padding: 15px 35px;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: "lavishly Yours", sans-serif;
    color: rgba(255, 255, 239, 0.888);
    line-height: 1;
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.category {
 margin-bottom: 15px;
}

.Facts {
    background-color: #717171;
    border-radius: 1.5rem;
    color: aliceblue;
    font-size: 17px;
    line-height: 1.1;
    font-family: "Sono",sans-serif;
    margin-bottom: 12px;
    padding: 15px 25px;
    display: flex;
    align-items: centre;
    gap: 25px;
    letter-spacing: -1px;
}

.Category {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: .5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;

}

.vote-buttons {
 margin-left: auto;
}

.vote-buttons button {
    background-color: oklch(70.7% 0.022 261.325);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    font-family: inherit;
    border-radius: 20px;
}

ul {
    list-style: none;
}

.source:link, .source:visited {
    color: #ff0000;
    text-decoration: none;
    margin-left: 10px;
    transition: .3s ease-in;
}
.source:hover {
    color: #64cb88;
}

.source:active {
    color: oklch(54.6% 0.245 262.881);
}


.btn {
    background-image: linear-gradient(45deg, oklch(70.7% 0.165 254.624), oklch(58.6% 0.253 17.585));
    font-family: Girassol,sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 3px 13px;
    border: none;
    color: inherit;
    border-radius: 20px;
    transition: .4s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(110%) rotate(-2deg);
}

.btn-large {
    font-size: 20px;
    padding: 20px 35px 15px;  
}

.btn-all-categories {
    margin-bottom: 15px;
    width: 100%;
}

.btn-categories {
    width: 100%;
    background-image: none;
}