body {
    background: linear-gradient(-45deg, #e98668, #df89a8, #68aec8, #64cb88);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    margin: 0;
    padding: 35px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    margin-bottom: 30px;
    background-color: #ffd5e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 13px;
}

.Facts-form {
    background: #5bc3f8;
    border-radius: .5rem;
    margin-bottom: 30px;
    padding: 15px 35px;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: "lavishly Yours", sans-serif;
    color: rgba(255, 255, 239, 0.888);
    line-height: 1;
    margin-top: 9px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Facts {
    background-color: #717171;
    border-radius: 1.5rem;
    color: aliceblue;
    font-size: 17px;
    line-height: 1.1;
    font-family: "Sono",sans-serif;
    margin-bottom: 12px;
    padding: 15px 25px;
    display: flex;
    align-items: centre;
    gap: 24px;
    letter-spacing: -1px;
}

.Category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: .5px;
    padding-left: 5px;
    padding-right: 5px;

}

.vote-buttons {

}

ul {
    list-style: none;
}