h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: "lavishly Yours", sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.1;
    font-family: sans-serif;
}

span {
    text-transform: uppercase;
    font-size: 14px;
}

ul {
    list-style: none;
}